# Исключить все файлы
*

# Исключить папку target и ее содержимое
target/

# Исключить папку target в корне, если у вас могут быть другие папки target
/target/

# Исключить папку .idea и файлы конфигурации IntelliJ IDEA
.idea/
*.iml
*.class

# Оставить необходимые директории и файлы
!.gitignore
!.mvn/
!pom.xml
!src/
!spring_hibernate.iml
